<section class="hero is-small">
  <div class="hero-body">
    <h1 class="title">Recent Tracks</h1>
    <p class="subtitle">These are the tracks used in your playlists in the past two weeks. They won’t be added to future playlists unless you delete them first.</p>
    <hr>
  </div>
</section>

<section class="container is-max-desktop">
  <table class="table is-fullwidth is-hoverable">
    <tbody>
      <% @tracks.each do |track| %>
        <%= render partial: 'tracks/row', locals: { track: track } %>
      <% end %>
    </tbody>
  </table>
</section>
