<%= button_to user_spotify_omniauth_authorize_path, method: :post, data: { turbo: false }, class: 'button is-large' do %>
  <span class="icon">
    <i class="fab fa-spotify"></i>
  </span>
  <span>Sign in with Spotify</span>
<% end %>
