<section class="hero is-small">
  <div class="hero-body">
    <h1 class="title">Requests</h1>
    <p class="subtitle">This is the history of music requests you’ve made.</p>
    <hr>
  </div>
</section>

<section class="container is-max-desktop">
  <% @music_requests.each do |request| %>
    <%= render partial: 'music_requests/card', locals: { music_request: request } %>
  <% end %>
  <%= paginate @music_requests, outer_window: 1, window: 1 %>
</section>
