<section class="hero is-small">
  <div class="hero-body">
    <h1 class="title">Requests</h1>
    <p class="subtitle">This is the history of music requests you’ve made.</p>
    <hr>
  </div>
</section>

<section class="container">
<% if @music_requests.any? %>
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>In&nbsp;use?</th>
        <th>Request</th>
        <th class="has-text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @music_requests.each do |request| %>
        <tr>
          <td><% if request.active? %><i class="fa-solid fa-check"></i><% end %></td>
          <td><%= simple_format(request.prompt) %></td>
          <td>
            <div class="field is-grouped is-grouped-right">
              <% unless request.active? %>
                <%= button_to activate_music_request_path(request), method: :patch, data: { turbo_confirm: 'Are you sure you want to make this your current request?' }, class: "button" do %>
                    <span class="icon">
                      <i class="fa-solid fa-trash-undo"></i>
                    </span>
                    <span>Restore</span>
                <% end %>
              <% end %>
              <%= button_to music_request_path(request), method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this request? This can’t be undone.' }, class: "button is-danger" do %>
                  <span class="icon">
                    <i class="fa-solid fa-circle-xmark"></i>
                  </span>
                  <span>Delete</span>
              <% end %>
            </div>
          </td>
        </tr>
        </tr>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="notification">
    <strong>You haven’t made any requests yet.</strong> Why don’t you go make one?
  </div>
<% end %>
</section>
