<% flash.each do |key, value| %>
  <div class="notification is-light is-<%= flash_level(key) %>" data-controller="notification">
    <button class="delete" data-action="click->notification#close"></button>
    <span class="icon has-text-<%= flash_level(key) %>">
      <% if flash_level(key) == 'warning' %>
        <i class="fa-solid fa-triangle-exclamation"></i>
      <% elsif flash_level(key) == 'success' %>
        <i class="fa-solid fa-circle-check"></i>
      <% end %>
    </span>
    <%= value.html_safe %>
  </div>
<% end %>
