
<div class="notification is-light is-<%= level %>" data-controller="notification">
  <button class="delete" data-action="click->notification#close" data-notification-target="closeButton"></button>
  <%= message %>
</div>
