<section class="hero is-small">
  <div class="hero-body">
    <h1 class="title">Today’s Playlists</h1>
    <p class="subtitle">Here are your playlists for today’s workouts.</p>
    <hr>
  </div>
</section>


<% if @todays_playlists.any? %>
  <section class="container is-max-desktop">
    <% @todays_playlists.each do |playlist| %>
      <% if playlist.processing? %>
        <%= render partial: 'playlists/processing' %>
      <% else %>
        <%= render partial: 'playlists/card', locals: { playlist: playlist } %>
      <% end %>
    <% end %>
    <hr>
    <div class="field is-grouped is-grouped-right">
      <%= button_to regenerate_all_playlists_path, method: :post, data: { turbo_confirm: 'Are you sure you want to regenerate all unlocked playlists?' }, disabled: regenerate_playlists_disabled?, class: "button" do %>
        <span class="icon">
          <i class="fa-solid fa-sparkles"></i>
        </span>
        <span>Regenerate all</span>
      <% end %>
    </div>
  </section>
<% else %>
  <section class="container">
    <div class="notification">
      <strong>You don’t have any workouts scheduled for today.</strong> Why don’t you go add one to your calendar?
    </div>
  </section>
<% end %>

