<h1>Welcome to the Workout Playlist App</h1>

<% if user_signed_in? %>
  <p>Hello, <%= current_user.email %>!</p>
  <%= button_to 'Logout', users_sign_out_path, method: :delete %>
<% else %>
  <%= button_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, method: :post, data: { turbo: false } %>
<% end %>
