<% if playlist.todays? %>
  <%= button_to regenerate_playlist_path(playlist), method: :post, data: { turbo_confirm: 'Are you sure you want to regenerate this playlist?' }, disabled: playlist.locked? || playlist.generating_cover_image?, class: "button #{'is-loading' if playlist.activity.processing? || playlist.processing?}" do %>
    <span class="icon">
      <i class="fa-solid fa-sparkles"></i>
    </span>
  <% end %>
  <%= button_to regenerate_cover_playlist_path(playlist), method: :post, data: { turbo_confirm: 'Are you sure you want to regenerate this playlist’s cover art?' }, disabled: playlist.activity.processing? || playlist.processing? || playlist.locked? || playlist.cover_dalle_prompt.blank?, class: "button #{'is-loading' if !playlist.processing? && playlist.generating_cover_image?}" do %>
    <span class="icon">
      <i class="fa-kit fa-solid-image-rotate"></i>
    </span>
  <% end %>
  <%= button_to toggle_lock_playlist_path(playlist), method: :post, disabled: playlist.activity.processing? || playlist.processing? || playlist.generating_cover_image?, class: "button #{'is-danger is-light' if playlist.locked?}" do %>
    <% if playlist.locked? %>
      <span class="icon">
        <i class="fa-solid fa-lock"></i>
      </span>
    <% else %>
      <span class="icon">
        <i class="fa-solid fa-lock-open"></i>
      </span>
    <% end %>
  <% end %>
<% else %>
  <%= button_to toggle_follow_playlist_path(playlist), method: :post, class: "button" do %>
    <% if playlist.following? %>
      <span class="icon">
        <i class="fa-solid fa-circle-minus"></i>
      </span>
    <% else %>
      <span class="icon">
        <i class="fa-solid fa-circle-plus"></i>
      </span>
    <% end %>
  <% end %>
<% end %>
