<div class="card">
  <div class="card-image">
    <div class="skeleton-block" style="height: 352px"></div>
  </div>
  <div class="card-content">
    <div class="content skeleton-lines">
      <div></div>
    </div>
    <div class="content skeleton-lines">
      <div></div>
      <div></div>
    </div>
    <div class="field is-grouped is-grouped-right">
      <button class="button is-skeleton">
        <span class="icon">
            <i class="fa-solid fa-lock-open"></i>
          </span>
          <span>Unlock</span>
      </button>
      <button class="button is-skeleton">
        <span class="icon">
            <i class="fa-solid fa-sparkles"></i>
          </span>
          <span>Regenerate</span>
      </button>
    </div >
  </div>
</div>
