<section class="hero is-small">
  <div class="hero-body">
    <h1 class="title">Playlists</h1>
    <p class="subtitle">These are all the playlists generated for your past workouts.</p>
    <hr>
  </div>
</section>

<section class="container is-max-desktop">
  <%= turbo_frame_tag "playlists" do %>
    <% @playlists.each do |playlist| %>
      <%= render partial: 'playlists/card', locals: { playlist: playlist } %>
    <% end %>
  <% end %>
  <hr>
  <%= paginate @playlists, outer_window: 1, window: 1 %>
</section>

<%= turbo_stream_from "playlists:user:#{current_user.id}" %>
